<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header><div class="Nav-bar">
        <a href="" class="logo"> TODO LIST</a>
        <nav><ul>
            <li><a href="/">Home</a></li>
            <li><a href="/front">Tasks</a></li>
            <li><a href="/help">Help</a></li>
        </ul></nav>
    </div></header>

    <div class="showcase">
        <h1>Welcome to your Todo List</h1>
        <p>"It always seems impossible until its done" - NELSON MANDELA</p>
        <a href="front">NOW! Open your ToDoList</a>
    </div>
    
</body>
</html>
